<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServerLink</servlet-name>
        <servlet-class>com.quest.servlets.ServerLink</servlet-class>
          <init-param>
            <param-name>version-no</param-name>
            <param-value>2.0.0.0</param-value>
         </init-param>
           <init-param>
            <param-name>version-name</param-name>
            <param-value>Tangerine</param-value>
         </init-param>
        <init-param>
            <param-name>database-name</param-name>
            <param-value>user_server</param-value>
        </init-param>
        <init-param>
            <param-name>default-password</param-name>
            <param-value>erwin_123_cat</param-value>
        </init-param>
         <init-param>
            <param-name>track-usage</param-name>
            <param-value>api_key</param-value>
        </init-param>
        <init-param>
            <param-name>password-expires</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>max-password-retries</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>client-timeout</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>multiple-login</param-name>
            <param-value>true</param-value>
        </init-param>
         <init-param>
            <param-name>debug-mode</param-name>
            <param-value>true</param-value>
        </init-param>
         <init-param>
            <param-name>external-services</param-name>
            <param-value>
             com.quest.opendata.OpenDataService,
             com.quest.opendata.OpenDataService2,
             com.quest.access.useraccess.services.UserService,
             com.quest.access.useraccess.services.OpenDataService,
            </param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-privileges</param-name>
            <param-value>open_data_2,user_service</param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-users</param-name>
            <param-value>root@questpico.com</param-value>
        </init-param>
        <init-param>
            <param-name>root-user</param-name>
            <param-value>root@questpico.com</param-value>
        </init-param>
        <init-param>
            <param-name>init-type</param-name>
            <param-value>initial</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.quest.servlets.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerLink</servlet-name>
        <url-pattern>/server</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
